[defaults]
retry_files_enabled = False

# fact caching
gathering = smart
fact_caching = jsonfile
fact_caching_connection = /tmp/facts_cache

# two hours timeout
fact_caching_timeout = 7200

# own data
remote_user = dietmar
ansible_user = dietmar
private_key_file = ~/.ssh/id_ed25519
verbosity = 2
ansible_python_interpreter = /usr/bin/python3
stdout_callback = debug
callbacks_enabled = ansible.posix.profile_tasks
module_lang = C
module_set_locale = True
display_skipped_hosts = no
